ci:
  skip: [pyright]

exclude: "experiments|typings|tests"

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
      args:
        - --assume-in-merge
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: destroyed-symlinks
    # - id: detect-aws-credentials
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: name-tests-test
      args:
      - --pytest-test-first
    - id: no-commit-to-branch
    - id: pretty-format-json
      args: ['--autofix']
    # - id: sort-simple-yaml
        # files: .pre-commit-config.yaml

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    name: mypy
    language: python
    language_version: python 3.10
    types: [python]
    require_serial: true
    verbose: true
    additional_dependencies: ['types-requests']
    # exclude: "tests"
    # args:
    # - --ignore-missing-imports
    # files: ^(src/|tests/)

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - args:
    - --py310-plus
    id: pyupgrade

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: remove-tabs

# - repo: https://github.com/commitizen-tools/commitizen
#   rev: v2.40.0
#   hooks:
#   - id: commitizen

# # This will only work with pylint installed in the venv
# - repo: local
#   hooks:
#   - id: pylint
#     exclude: "tests"
#     name: pylint
#     entry: ./venv/Scripts/pylint.exe
#     language: system
#     types: [python]
#     args:
#     - --ignore-patterns=venv
#     - --good-names=i,j,_,f
#     # - --disable=protected-access
#     # - --disable=no-member
#     # - --disable=import-error
#     # - --disable=no-name-in-module
#     - --disable=redundant-returns-doc # many false positives
#     - --disable=too-many-arguments
#     - --disable=too-many-instance-attributes
#     - --disable=redefined-builtin # sticking with edge.next
#     - --disable=invalid-name # for _TMeshElem and similar type hints
#     - --disable=useless-return # conflicts with mypy
#     - --disable=assignment-from-no-return # prevents overloading Attrib methods to only raise an Exception
#     - --disable=useless-parent-delegation
#     - --disable=R0801 # Similar lines in multiple files
#     - --load-plugins=pylint.extensions.docparams
#     - --accept-no-param-doc=n
#     - --accept-no-raise-doc=n
#     - --accept-no-return-doc=n
#     - --accept-no-yields-doc=n

- repo: https://github.com/charliermarsh/ruff-pre-commit
  # ignores
  # COM812 Trailing comma missing (does not agree with Black)
  # D203 1 blank line required before class docstring (incompatible with D211)
  # D213 multi line summary second line (incompatible with D212):
  # ISC003 Explicitly concatenated string should be implicitly concatenated
  #
  # ANN401 Any type disallowed (need Any for fonttools)
  # BLE001 Use of `except Exception:` detected (continue through Any failure to load cache)
  # S301 don't use pickle
  # PLR2004 Magic value used in comparison
  # S603 `subprocess` call: check for execution of untrusted input
  # SIM108 insists on ternary operator
  # PTH108 os.unlink should be replaced by .unlink()
  # PLR0913 Too many arguments to function call
  # PGH003 Use specific rule codes when ignoring type issues (multipe for *args to etree.tostring)
  # FLY Consider f-string ...
  # N802 function name should be lowercase (need for some magic in font_info)
  # PLR0911 Too many return statements (to parse MeasurementArgs)
  # SLF001 Private member accessed
  # B019 Memory leak warning for lru_cache

  rev: 'v0.15.1'
  hooks:
    - id: ruff
      exclude: "tests"
      args:
      - --target-version=py310
      - --select=ALL
      - --ignore=COM812,D203,D213,ISC003,ANN401,BLE001,S301,PLR2004,S603,SIM108,PTH108,PLR0913,PGH003,FLY,N802,PLR0911,SLF001,B019
      - --fix
      - --fixable=RUF022
    - id: ruff
      args: ["check", "--select", "I", "--fix"]
    - id: ruff-format
      name: "ruff-format"

# reads pyproject.toml for additional config
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.408
  hooks:
    - id: pyright
